Repository louisb0/std: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, statix, deadnix, clang-format, gtest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        files: \.nix$

      - id: statix
        name: statix
        entry: statix check
        language: system
        files: \.nix$
        pass_filenames: false

      - id: deadnix
        name: deadnix
        entry: deadnix --fail
        language: system
        files: \.nix$

      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|hpp)$
        args: [--dry-run, -Werror]

      - id: gtest
        name: gtest
        entry: rt
        language: system
        files: \.(cpp|hpp)$
        pass_filenames: false

Add GitHub actions
  .github/workflows/ci.yml
Due: none

Remove flake check from GitHub action
  .github/workflows/ci.yaml
Due: none

Install devenv at profile level in GitHub runner
  .github/workflows/ci.yaml
Due: none

Fix actions again
  .github/workflows/ci.yaml
  .gitignore
Due: none

Add missing build step from actions
  .github/workflows/ci.yaml
  devenv.nix
Due: alejandra, statix, deadnix

Implement input_iterator concept and prerequisites
  CMakeLists.txt
  benchmarks/bench_vector.cpp
  include/iterator.hpp
  include/vector.hpp
  tests/test_iterator.cpp
  tests/test_vector.cpp
Due: clang-format, gtest

Add valgrind to build system
  devenv.nix
Due: alejandra, statix, deadnix

Rename repository to std
  README.md
Due: none

Rename iterator tag specialisation
  include/iterator.hpp
  tests/test_iterator.cpp
Due: clang-format, gtest

Implement output_iterator concept
  include/iterator.hpp
  tests/test_iterator.cpp
Due: clang-format, gtest

Make input_or_output iterator return a referenceable type, not a reference
  include/iterator.hpp
  tests/test_iterator.cpp
Due: clang-format, gtest

Add semantics to iterator concepts
  include/iterator.hpp
Due: clang-format, gtest

Rework tests, add forward_iterator, and improve semantics
  include/iterator.hpp
  tests/test_iterator.cpp
Due: clang-format, gtest

Make input_iterator concept std::equality_comparable
  include/iterator.hpp
  tests/test_iterator.cpp
Due: clang-format, gtest

Implement uninitialized_copy()
  include/memory.hpp
  tests/test_memory.cpp
Due: clang-format, gtest

Add bidirectional iterator
  include/iterator.hpp
  tests/test_iterator.cpp
Due: clang-format, gtest

Add random_access_iterator
  include/iterator.hpp
  tests/test_iterator.cpp
Due: clang-format, gtest

Add reverse_iterator
  include/iterator.hpp
  tests/test_iterator.cpp
Due: clang-format, gtest

Add #pragma_once
  include/memory.hpp
  tests/test_memory.cpp
Due: clang-format, gtest

Disable access modifier indentation
  .clang-format
Due: none

Implement initializer_list
  include/initializer_list.hpp
  include/iterator.hpp
  tests/test_initializer_list.cpp
  tests/test_iterator.cpp
Due: clang-format, gtest

Run tests only if compile succeeds
  devenv.nix
Due: alejandra, statix, deadnix

Refactor file structure
  CMakeLists.txt
  include/bits/iterator_base_types.hpp
  include/bits/iterator_concepts.hpp
  include/bits/iterator_range_access.hpp
  include/bits/iterator_reverse.hpp
  include/initializer_list.hpp
  include/iterator.hpp
  include/type_traits.hpp
  tests/iterator/test_concepts.cpp
  tests/iterator/test_reverse.cpp
  tests/test_initializer_list.cpp
  tests/test_type_traits.cpp
Due: clang-format, gtest

Add uninitialized_default_construct
  include/memory.hpp
  tests/test_memory.cpp
Due: clang-format, gtest

Add uninitialized_fill, improve tests
  include/memory.hpp
  tests/test_memory.cpp
Due: clang-format, gtest

Fix build import paths
  .gitignore
  CMakeLists.txt
  devenv.nix
Due: alejandra, statix, deadnix

Add distance()
  include/bits/iterator_base_types.hpp
  include/bits/iterator_functions.hpp
  include/iterator.hpp
  tests/iterator/test_functions.cpp
Due: clang-format, gtest

Implement vector constructors and element access
  include/vector.hpp
  tests/test_vector.cpp
Due: clang-format, gtest

Add uninitialized_move
  include/memory.hpp
  tests/test_memory.cpp
Due: clang-format, gtest

Implement forward() and move()
  include/bits/iterator_concepts.hpp
  include/memory.hpp
  include/type_traits.hpp
  include/utility.hpp
  tests/test_type_traits.cpp
  tests/test_utility.cpp
Due: clang-format, gtest

Implement vector reserve(), emplace_back(), push_back()
  include/vector.hpp
  tests/test_vector.cpp
Due: clang-format, gtest

Implement vector::erase()
  include/vector.hpp
  tests/test_vector.cpp
Due: clang-format, gtest

Add static_assert where required
  include/memory.hpp
  include/vector.hpp
Due: clang-format, gtest

Add move algorithm
  include/algorithm.hpp
  include/memory.hpp
  include/vector.hpp
  tests/test_algorithm.cpp
Due: clang-format, gtest

Add vector::emplace()
  include/vector.hpp
  tests/test_vector.cpp
Due: clang-format, gtest

Add move_backward algorithm
  include/algorithm.hpp
  tests/test_algorithm.cpp
Due: clang-format, gtest

Clean up static asserts and tests
  include/memory.hpp
  include/vector.hpp
  tests/test_vector.cpp
Due: clang-format, gtest

Add vector::insert()
  include/vector.hpp
  tests/test_vector.cpp
Due: clang-format, gtest

Add vector comparisons
  include/vector.hpp
  tests/test_vector.cpp
Due: clang-format, gtest

Add vector::shrink_to_fit() and vector::resize()
  include/vector.hpp
  tests/test_vector.cpp
Due: clang-format, gtest
